HELP.md
target/

#20191219 hepengju 由于web项目也放在此git中, 所以以下三行注释
#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
